.header__container {
  margin: auto clamp(40px, 11.1vw - 56px, 104px) auto auto;
  height: inherit;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  gap: clamp(16px, 5vw, 42px);
  align-items: center;
  text-align: center;

  /* main/white */

  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header__container {
    margin-right: clamp(16px, 3.2vw, 40px);
  }
}
