.header__title {
  margin: auto auto auto clamp(40px, 11.1vw - 56px, 104px);
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(16px, 6.25vw, 20px);
  line-height: 24px;

  /* main/white */
  cursor: pointer;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header__title {
    margin-left: clamp(16px, 5vw, 40px);
  }
}
