.header__navigation-link {
  margin: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  flex-basis: 100%;
  flex-grow: 1;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 767px) {
  .header__navigation-link {
    white-space: normal;
  }
}
