.article__content-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: auto 16px 8px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  max-width: 100%;
  max-height: (80px, 10.42vw, 110px);
  line-clamp: 5;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  color: #1a1b22;
  transition: -webkit-line-clamp 0.8s ease-in-out 0.5s;
}
.article__content-title:hover ~ .article__content-text {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
